Source: sleepy
Section: misc
Priority: extra
Maintainer: Trung Ngo <ndtrung4419@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
 valac,
 libappindicator-dev,
 libgee-dev,
 libnotify-dev,
 libgtk2.0-dev,
 libgtk-3-dev,
 python,
 intltool
Standards-Version: 3.9.3
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/sleepy.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/sleepy.git;a=summary

Package: sleepy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sleep time calculator
 Calculates and reminds you of when to sleep
